mat-form-field,
textarea {
  width: 100%;
}

.add-post-button {
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.text-field-form {
  margin-top: 1rem;
}
