mat-form-field,
textarea {
  width: 100%;
}

.add-post-button {
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.text-field-form {
  margin-top: 1rem;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
}
